[include]
	path = ~/.gitconfig.extra
[user]
	email = mark.d.gray@redhat.com
	name = Mark Gray
[sendemail]
	annotate = yes
	smtpencryption = ssl
	smtpserver = smtp.gmail.com
	smtpserverport = 465
	multiEdit = false
[core]
        abbrev = 12
[pretty]
        fixes = Fixes: %h (\"%s\")
[alias]
	publish = !/usr/bin/git-publish
